<div class="articles">
	<br />
	<br />
	<div class='alert alert-warning text-center'>
	  <h4>Looks like you haven't scraped any articles yet. Hit "Scrape New Articles!" up top to get new articles.</h4>
	</div>
</div>